<launch>
  <param name="/use_sim_time" value="true" />

<!-- Roomba 的 URDF -->
  <param name="robot_description" textfile="$(find webots_ros)/protos/Create.urdf" />
  <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />
  <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />
<!-- 控制器 -->
  <node name="ccontroller" pkg="webots_ros" type="ccontroller" output="screen" />

<!-- Carto -->
  <node name="cartographer_node" pkg="cartographer_ros"
  	    type="cartographer_node" args="
        	-configuration_directory $(find webots_ros)/carto_cfg
        	-configuration_basename cartographer.lua"
      	output="screen">
  	<remap from="scan" to="/Roomba/laser/laser_scan" />
	<remap from="odom" to="/odom" />
  </node>

<!-- 建图 -->
  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
  		type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

<!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true"
      	args="-d $(find webots_ros)/rviz_cfg/cartographer.rviz" />

<!-- tf tree -->
  <node name="rqt_tf_tree" pkg="rqt_tf_tree" type="rqt_tf_tree" />
</launch>
